{% extends "base.html" %}

{% block title %}Senha Alterada{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card text-center">
            <div class="card-body">
                <h1 class="card-title text-success">Sucesso!</h1>
                <p class="card-text fs-5">Sua senha foi alterada com sucesso.</p>
                <p>Você pode continuar navegando no site normalmente.</p>
                <a href="{% url 'profile' %}" class="btn btn-primary mt-3">Voltar para o Perfil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}