{% extends "base.html" %}

{% block title %}Meus Ambientes de Cultivo{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Meus Ambientes de Cultivo (Estufas)</h1>
    
    {% if has_stages %}
        <!-- O botão de criar ambiente não precisa de trava, pois pode ser criado sem estágio -->
        <a href="{% url 'environment:create' %}" class="btn btn-primary">Novo Ambiente</a>
    {% endif %}
</div>

{% if not has_stages %}
<div class="alert alert-info" role="alert">
    <strong>Dica:</strong> Não existe nenhum estágio cadastrado. Favor entrar em contato com o administrador do sistema para cadastrar os estágios necessários.
</div>
{% endif %}


<div class="row">
    {% for env in environments %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{ env.nome }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ env.localizacao|default:"Sem localização" }}</h6>
                <ul class="list-unstyled mt-3">
                    <li><strong>Área:</strong> {{ env.area }} m²</li>
                    <li>
                        <strong>Ocupação:</strong> 
                        <span class="fw-bold {% if env.is_full %}text-danger{% else %}text-success{% endif %}">
                            {{ env.current_plant_count }} / {{ env.numero_maximo_plantas }}
                        </span>
                        plantas
                    </li>
                    <li><strong>Otimizado para:</strong> {{ env.estagio_preparado.tipo_estagio|default:"<span class='text-muted'>Todos os estágios</span>"|safe }}</li>
                </ul>
            </div>
            <div class="card-footer bg-transparent border-top-0">
                <a href="{% url 'environment:update' env.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
                <a href="{% url 'environment:delete' env.pk %}" class="btn btn-sm btn-outline-danger">Excluir</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col">
        <p>Nenhum ambiente de cultivo cadastrado.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}