{% extends "base.html" %}

{% block title %}Minhas Plantas{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Minhas Plantas</h1>
    <!-- O botão agora está sempre ativo, pois a página só é acessível se for possível criar plantas -->
    <a href="{% url 'plants:create' %}" class="btn btn-primary">Adicionar Nova Planta</a>
</div>

{% for plant in plants %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ plant.get_absolute_url }}">{{ plant.nome }} ({{ plant.identificacao }})</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">Estágio: {{ plant.estagio_atual.tipo_estagio }}</h6>
        <p class="card-text">
            Plantada em: {{ plant.data_plantio|date:"d/m/Y" }}
            {% if plant.precisa_mudar_estagio %}
                <span class="badge bg-danger">Atenção: Precisa mudar de estágio!</span>
            {% endif %}
        </p>
        <a href="{{ plant.get_absolute_url }}" class="card-link">Detalhes</a>
        <a href="{% url 'plants:update' plant.pk %}" class="card-link">Editar</a>
         <a href="{% url 'growth_history:create' plant_pk=plant.pk %}" class="card-link">
            + Histórico
        </a>
    </div>
</div>
{% empty %}
    <div class="text-center p-5">
        <h4>Nenhuma planta cadastrada ainda.</h4>
        <p>Clique no botão "Adicionar Nova Planta" para começar.</p>
    </div>
{% endfor %}
{% endblock %}